1         # game mode 1 - ручной ввод, 2 - ввод из commmands.txt

4           # лимит на ходы для каждого игрока каждый ход
3 # количество прогонов игры(позже реализую)
3 1 1 1 # первая цифра - число игроков, затем их вид - 0- человек, 1- автомат
10          # очки, которые нужно набрать для выигрыша- после выигрыша происходит сброс игры
2           # количество роботов на игрока
0           # количество зарядок(не делала эту часть проекта)